* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #0d0c16;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.test-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 10vh;
}
.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-text {
  color: white;
}

.footer {
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer-container a {
  text-decoration: none;
  color: white;
  margin: 0vh 5vh 0vh 5vh;
}
